
@{
    ViewBag.Title = "Home Page";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .bgimg {
        background-position: center;
        background-size: cover;
        background-image: url("/Images/unnamedUniversity.jpg");
        min-height: 100%;
    }
</style>

<header class="w3-container w3-text-white w3-center bgimg" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo"><b>Ahsan Online English learning Center</b></h1>
    <p class="w3-xlarge">Your online dream learning here</p>
    <div class="row" ol-md-7 centerBlock>
        <div class="form-group" has-feedback>
            <input id="search" type="text" class="form-control k-textbox" placeholder="Search Subject or Semester....." onkeyup="onSearchKeyUp()" />
            <i class="glyphicon glyphicon-search form-control-feedback textGrey"></i>
        </div>
    </div>
</header>

<footer class="w3-center w3-padding-16 backgroundGrey w3-text-white">
    <div class="w3-xlarge w3-section">
        <a class="mailto:ahsangazi01@gmail.com">
            <i class="fa fa-twitter w3-hover-opacity"></i>

        </a>
    </div>
</footer>
